/* Global */



/* Navigation Bar */

.navbar {
    background-color: rgba(1, 1, 5, 0.977);
}

.navbar-nav {
    margin-left: 70%;
    color: rgb(232, 190, 111);
}

.navbar-brand {
    margin-left: 20px;
    white-space: 2px;   
    color: rgb(232, 190, 111);
}

.navbar-brand:hover {
    color: rgb(232, 190, 111);
}

.nav-item {
    padding: 13px;
}

.navList{
    list-style: none;
}

a {
    color: rgb(232, 190, 111);
    text-decoration: none;
    font-size: 14px;
}

.logo {
    max-width: 20%;
    max-height: 20%;
}

/* Profile Page */

.hero {
    background-image: url("../assets/bballbackground.jpg");
    background-size: 100%;
    background-position-y: 16%;
    background-position-x: 95%;
    
}

.pfp {
    font-size: 50px;
}

.playerCard {
    margin-left: 20px;
    width: 12rem;
}

.card-container {
    display:flex;
    padding: 40px;
}

/* Login Page */

.register-link {
    color: black;
}

.a2 {
    color: blue;
    font-size: 14px;
}

/* Home Page */

.playerList {
    text-align: center;
    padding-top: 10px;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

